.color-picker {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(#000, 0.2);

  &__input {
    @extend .sr-only;
  }
}
