.select {
  border: 1px solid var(--grey-300);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;

  &:focus-within {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}
.select__input {
  width: 100%;
  border: 0;
  margin: 2px;
  font: inherit;
  line-height: 1.25;
  padding: 4px;
  background: none;
  flex: 1;

  &:focus {
    outline: none;
  }
}
.select__tag {
  display: inline-flex;
  align-items: center;
  margin: 2px;
  padding: 4px 4px 4px 8px;
  background: var(--grey-200);
  line-height: 1;
  overflow: hidden;
  border-radius: 14px;
  font-size: 14px;
}
.select__tag-button {
  font-size: 1rem !important;
  padding: 2px;
  margin: 0 0 0 4px;
  border: 0;
  border-radius: 50%;
  background: none;
  color: inherit;
  cursor: pointer;
  overflow: hidden;

  &:focus,
  &:hover {
    background: var(--grey-300);
  }
}
