@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

@layer components {
  b,
  strong {
    @apply font-semibold;
  }
  main h1 {
    @apply text-2xl font-semibold;
  }
  main h2 {
    @apply text-xl font-semibold mt-8;
  }
  main thead {
    @apply hidden;
  }
  main tbody tr {
    @apply border-b border-t border-dotted dark:border-gray-800;
  }
  main th,
  main td {
    @apply py-1;
  }
  main ul {
    @apply text-lg grid gap-6;
  }
  main ol {
    @apply text-xl grid gap-16;
    counter-reset: step;
  }
  main ol li {
    counter-increment: step;
  }
  main ol li::before {
    @apply block text-3xl opacity-50;
    content: counter(step) ".";
  }
}

@layer utilities {
  .aspect-ratio-32\/9 {
    aspect-ratio: 32 / 9;
  }
}
