:root {
  --primary: #007acc;
  --primary-text: #fff; // this is accessible to AA rating
  --secondary: #004364;
  --secondary-text: #fff; // this is accessible to AAA rating
  --grey-100: #fff;
  --grey-200: #eee;
  --grey-300: #bbb;
  --grey-400: #999;
  --grey-500: #888;
  --grey-600: #666;
  --grey-700: #444;
  --grey-800: #222;
  --grey-900: #000;

  --wordpress: #23282d;
}
// dark theme
:root.is-dark-mode {
  --primary: #007acc;
  --primary-text: #fff; // this is accessible to AA rating
  --secondary: #004364;
  --secondary-text: #eee; // this is accessible to AAA rating
  --grey-900: #bbb;
  --grey-800: #aaa;
  --grey-700: #999;
  --grey-600: #888;
  --grey-500: #777;
  --grey-400: #666;
  --grey-300: #444;
  --grey-200: #222;
  --grey-100: #111;
}

.app-shell {
  height: 100vh;
  display: grid;
  grid:
    "header header" auto
    "sidebar main" 1fr / 10rem 1fr;

  & > header {
    grid-area: header;
    background: var(--wordpress);
    color: var(--grey-300);
    position: sticky;
    top: 0;
    padding: 0.25rem;
  }
  & > aside {
    grid-area: sidebar;
    background: var(--wordpress);
    color: var(--grey-300);
    padding: 0.25rem;
  }
  & > main {
    grid-area: main;
    overflow: auto;
  }
  & > footer {
    grid-area: footer;
  }
}
.img-fluid {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.post-grid {
  display: grid;
  grid: auto / repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-shell {
  height: 100%;
  display: grid;
  grid:
    "header header" auto
    "editor sidebar" 1fr / 1fr 320px;

  & > header {
    grid-area: header;
  }

  & > .edit,
  & > .preview {
    grid-area: editor;
    overflow-y: auto;
  }

  & > aside {
    grid-area: sidebar;
    overflow-y: auto;
  }
}

a {
  color: var(--primary);
}

label {
  margin: 0 0 1rem;
  display: block;
  & > input,
  & > textarea {
    font: inherit;
    color: inherit;
    width: 100%;
    border: 1px solid var(--grey-300);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  & > input {
  }
  & > textarea {
    resize: vertical;
    min-height: 6rem;
  }
}

.edit {
  display: flex;
  flex-direction: column;
  & > div {
    height: 100%;
    grid: auto 1fr / auto;
  }
  & input,
  & textarea {
    border: 0;
    font: inherit;
    color: inherit;
    &:focus {
      outline: none;
    }
  }
  & input {
    width: 100%;
  }
  & textarea {
    border: 0;
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 400px;
    resize: none;
  }
}

.content {
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  display: grid;
  gap: 1.5rem 0;
}

p + p {
  margin-top: 1.5rem;
}

.card {
  display: block;
  border: 1px solid var(--grey-200);
  padding: 0 0 1rem;
  & > *:not(.img-16-9) {
    padding: 0 1rem;
  }
  & > .img-16-9 {
    margin: 0 0 1rem;
  }
}

.img-16-9 {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 56.5%;

  & > img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.standfirst {
  font-size: 1.5rem;
}

blockquote {
  border-inline-start: 0.25rem solid #ccc;
  padding-inline-start: 1rem;
}

.nav-bar {
  background: var(--grey-100);
  color: var(--grey-700);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--grey-200);

  & > div {
    line-height: 1;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  border: 1px solid var(--grey-300);
}
tbody {
  border: 1px solid var(--grey-300);
}
tr {
  &:nth-of-type(even) {
    background: var(--grey-200);
  }
}
th {
  text-align: left;
  font-weight: 400;
}
td {
  vertical-align: top;
}
th,
td {
  padding: 0.5rem;
}
table .checkbox {
  width: 1px;
}
tr .options {
  visibility: hidden;
}
tr:hover .options {
  visibility: visible;
}
.edit {
  border-right: 1px solid var(--grey-200);
}
.preview {
  border-right: 1px solid var(--grey-200);
}

.markdown-page {
  min-height: 100vh;
  & > div {
    flex: 1;
    //height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &:last-of-type {
      flex: 2;
      border-left: 1px solid var(--grey-200);
    }
  }
  & input {
    border: 0;
    width: 100%;
    //background: #eee;
    padding: 1.5rem;
    font: inherit;
    //font-family: monospace;
  }
  & textarea {
    flex: 1;
    resize: none;
    border: 0;
    overflow-y: auto;
    height: 100%;
    //background: #eee;
    padding: 1.5rem;
    font: inherit;
    // font-family: monospace;
    &:focus {
      outline: none;
    }
  }
}
hr {
  width: 100%;
}
/**
 * SuperCoupon
 *
 * @link http://benrutlandweb.co.uk/
 *
 * @package SuperCoupon
 * @since 1.0.0
 */

/* text-align */
@each $align in (start, left, center, justify, right, end) {
  .text-#{$align} {
    text-align: $align;
  }
}

/* text-transforms and decorations */
@each $transform in (uppercase, lowercase, capitalize) {
  .#{$transform} {
    text-transform: $transform;
  }
}
.italic {
  font-style: italic;
}
@each $decoration in (underline, line-through, overline) {
  .#{$decoration} {
    text-decoration: $decoration;
  }
}

/* font-weight */
@each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
  .font-#{$weight} {
    font-weight: $weight;
  }
}

/* display */
@each $display in (block, inline-block, inline, inline-flex, flex) {
  .#{$display} {
    display: $display;
  }
}

/* flex align */
@each $alias, $align in (start: flex-start, center: center, end: flex-end) {
  .align-#{$alias} {
    align-items: $align;
  }
}

/* flex justify */
@each $alias,
  $justify
    in (
      start: flex-start,
      center: center,
      end: flex-end,
      around: space-around,
      between: space-between
    )
{
  .justify-#{$alias} {
    justify-content: $justify;
  }
}

/* flex wrap */
.flex-wrap {
  flex-wrap: wrap;
}

/* margin */
@each $alias, $property in ("": "", t: -top, r: -right, b: -bottom, l: -left) {
  @for $value from 0 through 3 {
    .m#{$alias}-#{$value} {
      margin#{$property}: #{$value}rem;
    }
    .mx-#{$value} {
      @extend .mr-#{$value}, .ml-#{$value};
    }
    .my-#{$value} {
      @extend .mt-#{$value}, .mb-#{$value};
    }
  }
  .m#{$alias}-auto {
    margin#{$property}: auto;
  }
}

/* padding */
@for $value from 0 through 3 {
  @each $alias, $property in ("": "", t: -top, r: -right, b: -bottom, l: -left)
  {
    .p#{$alias}-#{$value} {
      padding#{$property}: #{$value}rem;
    }
  }
  .px-#{$value} {
    @extend .pr-#{$value}, .pl-#{$value};
  }
  .py-#{$value} {
    @extend .pt-#{$value}, .pb-#{$value};
  }
}

:root {
  --primary-500: #7143b1;
  --secondary-500: #d71d4c;
}

.header-logo {
  line-height: 1;
  text-decoration: none;
  align-items: center;
  display: flex;
}
.header-logo-svg {
  width: 2.5rem;
  height: 2.5rem;
}
.header-logo-text {
  background: linear-gradient(45deg, var(--primary-500), var(--secondary-500));
  -webkit-background-clip: text;
  font: 2rem / 1.5 Lemon;
  text-decoration: none;
  color: transparent;
  letter-spacing: -0.2rem;
  padding: 0 0.5rem;
}

.input-list {
  input {
    border: 1px solid HSL(0 0% 0% / 50%);
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
  }
}

.input-list {
  border: 1px solid;

  .item {
    padding: 0.5rem;
    display: flex;

    & + * {
      border-top: 1px solid;
    }
  }
  .btn {
    padding: 0.5rem;
    line-height: 0;
    margin: 0;
    border: 0;
  }
  .move {
    padding: 0 0.5rem;
  }
  .add {
    justify-content: flex-end;
  }
}
